<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/register.css">
</head>

<body>
<div id="container" class="container">
    <div class="header">
        <div class="header-title">
            <a class="back iconfont icon-fangxiangzuo" href="javascript:void(0);"></a>
            <div class="title">注册</div>
        </div>

        <img class="header-bg" src="../images/1/2_1.png" alt="">
    </div>
    <div class="content">
        <div class="form">
            <div class="form-item">
                <div class="form-key">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</div>
                <div class="form-val">
                    <input class="form-input" type="text" placeholder="请输入您的姓名">
                </div>
            </div>
            <div class="form-item">
                <div class="form-key">联系电话</div>
                <div class="form-val">
                    <input class="form-input" type="text" placeholder="请输入您的姓名">
                </div>
            </div>
            <div class="form-item form-other-item">
                <div class="form-key">所属省份</div>
                <div class="form-val">
                    <div class="select-wra">
                        <input class="select-text" type="text" placeholder="请输入或选择您所属的省份">
                        <i class="icon iconfont icon-fangxiangxia"></i>
                        <div class="select">
                            <div class="option">广东省</div>
                            <div class="option">广东省</div>
                            <div class="option">广东省</div>
                            <div class="option">广东省</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-item">
                <div class="form-key">所属门店</div>
                <div class="form-val">
                    <div class="select-wra">
                        <div class="select">
                            <div class="option">111111</div>
                        </div>
                        <input class="select-text" type="text" placeholder="请输入或选择您所属的门店">
                        <i class="icon iconfont icon-fangxiangxia"></i>
                    </div>
                </div>
            </div>
            <div class="form-item">
                <div class="form-key">门店地址</div>
                <div class="form-val">
                    <div class="inputBox-wra">
                        <div class="inputBox">
                            <select class="select-text" id="province">
                                <option>省</option>
                            </select>
                            <i class="icon iconfont icon-fangxiangxia"></i>
                        </div>
                        <div class="inputBox cityBox">

                            <select class="select-text" id="city">
                                <option>市</option>
                            </select>
                            <i class="icon iconfont icon-fangxiangxia"></i>
                        </div>
                        <div class="inputBox areaBox">
                            <select class="select-text" id="area">
                                <option>区</option>
                            </select>
                            <i class="icon iconfont icon-fangxiangxia"></i>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-item">
                <div class="form-key"></div>
                <div class="form-val">
                    <input type="text" class="form-input" placeholder="请输入您门店的详细地址">
                </div>
            </div>

            <a class="form-submit" href="javascript:void(0);">提交</a>
        </div>
    </div>

    <!--提交成功-->
    <div class="success-win">
        <div class="success-content">
            <img class="success-icon" src="../images/1/3_1.png">

            <div class="success-text">恭喜您,提交成功!</div>

            <div class="close-success">好的</div>
        </div>
    </div>
</div>

<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
<script src="../scripts/lib/cityData.js"></script>
<script src="../scripts/lib/citySelect.js"></script>
<script>
    var select = new citySelect({
        province: $("#province"),
        city: $("#city"),
        area: $("#area"),
        cityCon: $(".cityBox"),
        areaCon: $(".areaBox"),
        def: ["广东", "深圳"]
    });
</script>
</body>

</html>